<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688053266391-hmuln55sh1ec82q2tjk0u7mm3qf1eotq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688053266391-hmuln55sh1ec82q2tjk0u7mm3qf1eotq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688053266391-eekne2ththc0vftoppfktrfmslk54713.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtBVHYpS6WxEGV5D77GIJPlLHmB6skuh4</string>
	<key>GCM_SENDER_ID</key>
	<string>688053266391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payflow</string>
	<key>PROJECT_ID</key>
	<string>payflow-nlw-8d682</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-nlw-8d682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688053266391:ios:d3ac9e271b219ac0ff4d92</string>
</dict>
</plist>